<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.p2c.thelife"
    android:versionCode="5"
    android:versionName="0.20" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.p2c.thelife.TheLifeApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="theLife"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.p2c.thelife.EventsForCommunityActivity" 
            android:label="theLife" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.p2c.thelife.EventsForCommunity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.p2c.thelife.CommunityHelpActivity"
            android:label="@string/title_help" >
            <intent-filter>
                <action android:name="com.p2c.thelife.CommunityHelp" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.p2c.thelife.FriendsActivity"
            android:label="@string/title_friends" >
            <intent-filter>
                <action android:name="com.p2c.thelife.Friends" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.p2c.thelife.GroupsSearchActivity" 
            	  android:label="@string/title_search_groups" >
            <intent-filter>
                <action android:name="com.p2c.thelife.GroupsSearch" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.p2c.thelife.GroupsActivity"
            android:label="@string/title_groups" >
            <intent-filter>
                <action android:name="com.p2c.thelife.Groups" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.p2c.thelife.GroupsSearchActivity" />
        </activity>
        <activity
            android:name="com.p2c.thelife.GlobalHelpActivity"
            android:label="@string/title_help" >
            <intent-filter>
                <action android:name="com.p2c.thelife.GlobalHelp" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.p2c.thelife.EventsForFriendActivity"
            android:label="@string/title_events" >
            <intent-filter>
                <action android:name="com.p2c.thelife.EventsForFriend" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.p2c.thelife.DeedsForFriendActivity"
            android:label="@string/title_activities" >
            <intent-filter>
                <action android:name="com.p2c.thelife.DeedsForFriend" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.p2c.thelife.DeedForFriendActivity"
            android:label="@string/title_activity" >
            <intent-filter>
                <action android:name="com.p2c.thelife.DeedForFriend" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.p2c.thelife.GroupActivity"
            android:label="@string/title_group" >
            <intent-filter>
                <action android:name="com.p2c.thelife.GroupActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.p2c.thelife.FriendsImportActivity"
            android:label="@string/title_friends" >
            <intent-filter>
                <action android:name="com.p2c.thelife.FriendsImport" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.p2c.thelife.SetupActivity"
            android:label="@string/title_setup" >
            <intent-filter>
                <action android:name="com.p2c.thelife.Setup" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.p2c.thelife.SetupRegisterActivity"
            android:label="@string/title_register" >
            <intent-filter>
                <action android:name="com.p2c.thelife.SetupRegister" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>        
        <activity
            android:name="com.p2c.thelife.RequestsActivity"
            android:label="@string/title_requests" >
            <intent-filter>
                <action android:name="com.p2c.thelife.Requests" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.p2c.thelife.SettingsActivity"
            android:label="@string/title_settings" >
            <intent-filter>
                <action android:name="com.p2c.thelife.Settings" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>            
        </activity>
    </application>

</manifest>