<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.p2c.thelife"
    android:versionCode="1"
    android:versionName="0.11" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.p2c.thelife.TheLifeApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="theLife"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.p2c.thelife.MainActivity"
            android:label="theLife" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.p2c.thelife.Main" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.p2c.thelife.CommunityHelpActivity"
            android:label="theLife" >
            <intent-filter>
                <action android:name="com.p2c.thelife.CommunityHelp" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.p2c.thelife.FriendsActivity"
            android:label="theLife" >
            <intent-filter>
                <action android:name="com.p2c.thelife.Friends" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.p2c.thelife.GroupsActivity"
            android:label="theLife" >
            <intent-filter>
                <action android:name="com.p2c.thelife.Groups" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.p2c.thelife.GlobalHelpActivity"
            android:label="theLife" >
            <intent-filter>
                <action android:name="com.p2c.thelife.GlobalHelp" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.p2c.thelife.EventsForFriendActivity"
            android:label="theLife" >
            <intent-filter>
                <action android:name="com.p2c.thelife.FriendActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.p2c.thelife.ActivitiesForFriendActivity"
            android:label="theLife" >
            <intent-filter>
                <action android:name="com.p2c.thelife.ActivitiesForFriend" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.p2c.thelife.ActivityForFriendActivity"
            android:label="theLife" >
            <intent-filter>
                <action android:name="com.p2c.thelife.ActivityForFriend" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.p2c.thelife.GroupActivity"
            android:label="theLife" >
           <intent-filter>
                <action android:name="com.p2c.thelife.GroupActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>            
        </activity>
    </application>

</manifest>